@{
  Layout = "_Layout";
}
<div class="container">
  @model RecordCollection.Models.Album
<h2>Update Album Information</h2>
<hr />
<h4>@Html.DisplayFor(model => model.AlbumName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AlbumId)

  @Html.LabelFor(model => model.AlbumName)<br>
  @Html.TextBoxFor(model => model.AlbumName)<br>

  @Html.LabelFor(model => model.PressNumber)<br>
  @Html.TextBoxFor(model => model.PressNumber)<br>

  @Html.Label("Assign Contributing Artist")<br>
  @Html.DropDownList("ArtistId")

  <br><br><input type="submit" value="Save" />
}
<br><p>@Html.ActionLink("Back to Album list", "Index")</p>

</div>